<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Nugget - Architecture - JMS</title>
</head>

<body>

<th:block th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/#">
            Nuggets
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">
                    Home</a>

                <a class="nav-item nav-link" href="/login" sec:authorize="!isAuthenticated()">
                    Login</a>

                <a class="nav-item nav-link" href="/register" sec:authorize="!isAuthenticated()">
                    Register</a>

                <a class="nav-item nav-link" href="/preferences" sec:authorize="isAuthenticated()">
                    Preferences</a>

                <a class="nav-item nav-link" href="/nuggets" sec:authorize="isAuthenticated()">
                    All Nuggets</a>

                <a class="nav-item nav-link" href="/logout" sec:authorize="isAuthenticated()">
                    Logout</a>
            </div>
        </div>
    </nav>
</th:block>

<th:block th:fragment="bootstrap">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!--DEBUG-->
    <!--<table class="table">-->
    <!--<tr th:each="var : ${#vars.getVariableNames()}">-->
    <!--<td th:text="${var}"></td>-->
    <!--<td th:text="${#vars.getVariable(var)}"></td>-->
    <!--</tr>-->
    <!--&lt;!&ndash; Adding these manually because they're considered special.-->
    <!--see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199-->
    <!--&ndash;&gt;-->
    <!--<tr>-->
    <!--<td>param</td>-->
    <!--<td th:text="${#vars.getVariable('param')}"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>session</td>-->
    <!--<td th:text="${#vars.getVariable('session')}"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>application</td>-->
    <!--<td th:text="${#vars.getVariable('application')}"></td>-->
    <!--</tr>-->
    <!--</table>-->
</th:block>

<th:block th:fragment="validationMessagesContainer(fieldName)">
    <th:block th:if="${#fields.hasAnyErrors()}">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}">
            Errors
        </div>
    </th:block>
</th:block>

<th:block th:fragment="inputFragment(fieldNameParam, labelTextParam, inputTypeParam)">
    <div class="form-group" th:with="fieldName = '__${fieldNameParam}__'">
        <label th:for="${fieldName}">[[${labelTextParam}]]</label>
        <input th:type="${inputTypeParam}" class="form-control" th:id="${fieldName}"
               th:field="*{__${fieldName}__}"
               th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
        <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
    </div>
</th:block>

<th:block th:fragment="inputTextFragment(fieldNameParam, labelTextParam)">
    <th:block th:insert="fragments :: inputFragment(__${fieldNameParam}__, __${labelTextParam}__, 'text')"/>
</th:block>

<th:block th:fragment="inputCheckboxFragment(fieldNameParam, labelTextParam)">
    <div class="form-group" th:with="fieldName = '__${fieldNameParam}__'">
        <div class="form-check">
            <input th:field="*{__${fieldName}__}" class="form-check-input" type="checkbox" th:id="${fieldName}"
                   th:checked="*{__${fieldName}__}"
                   th:classappend="${#fields.hasAnyErrors()} ? (*{#fields.hasErrors('__${fieldName}__')} ? 'is-invalid' : 'is-valid')"/>
            <label class="form-check-label" th:for="${fieldName}">
                [[${labelTextParam}]]
            </label>
            <th:block th:insert="fragments :: validationMessagesContainer(__${fieldName}__)"/>
        </div>
    </div>
</th:block>

</body>
</html>