<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>

<th:block th:insert="fragments :: menu"/>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center">All Nuggets</h1>

            <div class="alert alert-warning text-center" role="alert" th:if="${nuggets.isEmpty()}">
                Do not forget to <b>import</b> the <b>SQL</b> file with <b>data seed</b> for the <b>Nuggets</b>!
            </div>

            <form th:if="${!nuggets.isEmpty()}">
                <table class="table">
                    <thead>

                    <tr>
                        <th scope="col">#</th>

                        <th scope="col">Name</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr th:each="nugget,iterStat : ${nuggets}" th:object="${nugget}">
                        <th scope="row" th:text="${iterStat.index}">
                            1
                        </th>

                        <td th:text="*{name}">
                            Wine Nugget
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="fragments :: bootstrap"/>

</body>

</html>