<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments :: head"/>

<body>

<th:block th:insert="fragments :: menu"/>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center">
                Preferences
            </h1>

            <div class="alert alert-secondary text-center" role="alert" th:if="${preferences.isEmpty()}">
                Your preferences have not been loaded yet, or are not supported by our database.
            </div>

            <form th:if="${!preferences.isEmpty()}">
                <table class="table">
                    <thead>

                    <tr>
                        <th scope="col">#</th>

                        <th scope="col">Name</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr th:each="preference,iterStat : ${preferences}" th:object="${preference}">
                        <th scope="row" th:text="${iterStat.index}">
                            1
                        </th>

                        <td th:text="*{name}">
                            Wine Nugget
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="fragments :: bootstrap"/>

</body>

</html>